body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.job {
  height: 380px;
  width: 380px;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
main {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border-red {
  border: 5px solid red;
}
.border-green {
  border: 5px solid green;
}
.border-yellow {
  border: 5px solid yellow;
}
.border-blue {
  border: 5px solid rgb(0, 162, 255);
}
.border-rose {
  border: 5px solid rgb(190, 127, 173);
}
